.flip-card-outer {
  width: 300px;
  height: 400px;
  margin: 25px 0;
  cursor: pointer;
  border-radius: 15px 50px;
  box-shadow: 0px 30px 45px rgba(22, 22, 22, 0.1);

  &.flip-card-outer:focus {
    outline: 2px solid lightcoral;
    outline-offset: 3px;
  }
}

.flip-card-inner {
  transform-style: preserve-3d;
  transition: 0.5s linear 0.1s;
  position: relative;
  width: inherit;
  height: inherit;
  border-radius: 15px 50px;

  &.flip-card-inner:hover {
    transform: rotateY(180deg);
  }

  &.showBack {
    transform: rotateY(180deg);
  }
}

.card {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-style: none;
  border-radius: 15px 50px;

  &.front {
    transform: rotateY(0);
    background-image: linear-gradient(to bottom right, lightsalmon, #ef5136);
    color: #faf6f4;
    // #EF5136
  }

  &.back {
    transform: rotateY(180deg);
    background-color: #faf6f4;
    color: #2d2d2d;
    text-align: justify;
  }
}


.solution-card-back{
 opacity: 1;
  width: 588px;
  height: 442px;
  position: relative;
  
}
.solution-card-outer {
  position: relative;
  width: 688px;
  height: 542px;
  margin: 25px 0;

  .solution-card-h3{
  // transform: translate(-50%, -50%);
  position: absolute;
  top:0;
  left: 0;
  padding: 60px;
  font-family:'Oswald',  sans-serif;
  font-size: 43px;
  text-transform: capitalize;
  letter-spacing: 1px;
  line-height: 1.0;
  }

  .solution-card-p{
  // transform: translate(-50%, -50%);
  position: absolute;
  top: 100px;
  left: 0;
  width: 500px;
  padding: 63px 60px;
  font-family:  'Manrope', sans-serif;
  font-size: 30px;
  line-height: 1.5;
  }



  .solution-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-style: none;


    text-align: left;
  
    p{
      color: #262626;
      font-size: 20px ;
    }
  }

  @media (max-width: 600px) {

    
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
}
@media  screen and (min-width: 900px) {

  .solution-card-outer {
    position: relative;
    width: 588px;
    height: 442px;
    margin: 25px 0;
    .solution-card-p{
      font-size: 22px;
      width: 400px;
      padding: 55px 60px;
      // transform: translateY(-10px);
    }
  
    .solution-card-h3{
      font-size: 40px;
      letter-spacing: 1px;
      line-height: 1.0;
    }
  }
}
