$primary: #EE3932;
$secondary: #FFA07A;
$white: #FBF8F6;
$grey: #F2F2F2;
$black: #262626;

$theme-colors:(
  'primary': $primary,
  'secondary' : $secondary,
  'white': $white,
);

.btn-outline-primary:hover, .btn-outline-primary:focus, .btnlink:hover, .btnlink:focus {
  color: $white !important;
  background-color: $primary !important;
}

.btn-outline-primary:active, .btnlink:active{
color: $white !important;
background-color: $black !important;
}

.btnlink{
  background-color: $white; 
  color: $primary;
}

.nav a{
  color: $black;
}

.nav-link:disabled{
  color: $grey !important;
}

.disabled{
  color: $grey !important;
}

.footer a{
  color: $primary;
}



.form-control{
  background-color: #fafafa !important;
}

// .form-check-input{
//   background-color: #fafafa !important;
// }

// .form-check-input-checked-bg-color{
//   color: $primary !important;
// }


.caption p{
  font-family: 'Manrope', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: $black;
    text-align: left;
    text-justify: inter-word;
}

p{
  font-family: 'Manrope', sans-serif;
  font-size: 25px;
  color: $black;
  font-weight: 500;
}

h3{
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: $black;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: 600;
  // font-size: 2em;
  // line-height: 1.2;
  // font-family: sans-serif;
  // letter-spacing: 4px;
  color: $black;
  // text-transform: capitalize;
  // position: relative;
}

h1{
  font-family: 'Oswald', sans-serif ;
  font-size: 62px !important ;
  text-transform: capitalize ;
  color: $primary ;
  font-weight: 600 !important;
}

// @media screen and (min-width:320px) {
//   .caption p{
//     font-size: calc(15px + 6 *((100vw - 320px)/680)) !important; 
//   }

//   p{
//     font-size: calc(25px + 6 *((100vw - 320px)/680)) !important;
//   }

//   h3{
//     font-size: calc(30px + 6 *((100vw - 320px)/680)) !important;
//   }

//   h2 {
//     font-size: calc(40px + 6 *((100vw - 320px)/680))!important ;
//   }

//   h1 {
//     font-size: calc(62px + 6 *((100vw - 320px)/680)) !important;
//   }
  
// }

@media screen and (min-width:1000px){
  .caption p{
    font-family: 'Manrope', sans-serif;
      font-size: 20px;
      font-weight: 400;
      color: $black;
      text-align: left;
      text-justify: inter-word;
  }
  
  p{
    font-family: 'Manrope', sans-serif;
    font-size: 30px;
    color: $black;
    font-weight: 500;
  }
  
  h3{
    font-family: 'Oswald', sans-serif;
    font-size: 36px !important;
    font-weight: 600;
    color: $black;
  }
  
  h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
    font-weight: 600;
    // font-size: 2em;
    // line-height: 1.2;
    // font-family: sans-serif;
    // letter-spacing: 4px;
    color: $black;
    // text-transform: capitalize;
    // position: relative;
  }
  
  h1{
    font-family: 'Oswald', sans-serif ;
    font-size: 84px !important;
    text-transform: capitalize ;
    color: $primary ;
    font-weight: 600 ;
  }
}


.footer{
  font-family: 'Oswald', sans-serif;
}

.footer h3{
  font-family: 'Oswald', sans-serif !important;
}




@import "/node_modules/bootstrap/scss/bootstrap.scss";
