

html,
body{
  background-color: #fff !important;
  font-family: 'Oswald', 'Manrope', sans-serif;
}
/* body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
 
  background-color: #fafafa;
} */



.caption p{
  font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #262626;
    text-align: left;
    text-justify: inter-word;
}

p{
  font-family: 'Manrope', sans-serif;
  font-size: 30px;
  color: #262626;
  font-weight: 500;
}

h3{
  font-family: 'Manrope', sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #262626;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 72px;
  font-weight: 600;
  color: #262626;

}

h1{
  font-family: 'Oswald', sans-serif;
  font-size: 84px;
  text-transform: capitalize;
  color: #EE3932;
  font-weight: 600;
}


nav{
  font-family: 'Oswald', sans-serif;
  opacity: 1;
  z-index: 99;
  top: 0;
  color: #262626;
  background-color: #fff;
  font-size: 30px;
  font-weight: 800;
  height: 130px;
  width: 100%;
  position: fixed;
  display: flex;


}




  

footer{
  display: flex;
  justify-content: flex-end;
  bottom: 0;
  text-align: left;
  color: #EE3932;
  background-color: #fbf8f6;
  list-style: none;
  width: 100%;
}

footer .ul{

  list-style: none;
}
footer .li{
  margin-left: 12px;
  list-style: none;
}

footer .logo{
  margin-right: auto;
}

footer .h3{
  font-family: 'Oswald', sans-serif !important;
}

footer a{
  text-decoration: none;
}

.footer-brand{
  top: -200px;
  left: -500px;
}

.mainContainer{
  width: 100%;
  height: 75vh;
  position: relative;
  background-color: #EE3932;
}

.mainContainer2{
  width: 100%;
  height: 75vh;
  position: relative;
  background-color: #EE3932;
  z-index: 1;
   
}

.container-orange{
  background-color: #EE3932;
  width: 100%;
}

.alt-h1{
  color: #fff !important;
}

.content{
  min-width: 960px;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  
  .layout{
    margin-top:80px;
    
  }
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul{
  list-style: none;
}


.about-container{
  height: 100%;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: auto;
  grid-template-areas: 
  ". header header ."
  ". hero hero ."
  ". purpose shape1 ."
  ". vision shape1 ."

  ;
}

.header{
  grid-area: "header";
  height: 500px;
  width: 100%;
  background-color: rgba(233,61,69,255); 
}
.hero{
   grid-area: "hero";
   place-self: center;
   text-align: center;
}

.shape{
  grid-area: "shape1";
 position: absolute;
 right: 0;
 top:0 ;

}

.shape-container{
  padding-top: 8%;
}

.purposevision{
height: auto;

}

.purpose{
  grid-area: "purpose";
  min-width: 400px;
}

.vision{
  grid-area: "vision";
  min-width: 400px;
  
 }

.purpose p{
  font-size: 27px;
  font-weight:600;
  line-height: 1.2;
}

.vision p{
  font-size: 27px;
  font-weight:600;
  line-height: 1.2;
}



 .teamheading h1{
  font-size: 50px !important;
  text-transform: none !important;
}

.subheading{
  font-size: 30px;
  line-height: 1.2;
}
@media screen and (min-width:901px) {
  .shape{
    grid-area: "shape1";
    /* width: 50%; */
   position: absolute;
   right: 0;
   top: 0;
 }

 .purposevision{
  max-height: 900px;
}

.purpose{
  grid-area: "purpose";
  height: auto;
  width: 100%;
  float: left;
  /* z-index: -1; */
}

.purpose p{
  font-size: 30px;
  font-weight:600;
  line-height: 1.2;
}

.vision{
 grid-area: "vision";
 height: auto;
 width: 100%;
 float: none;
 line-height: 1.2;
}

.vision p{
  font-size: 30px;
  font-weight:600;
}

.teamheading h1{
  font-size: 60px !important;
  text-transform: none !important;
}

.subheading{
  font-size: 35px;
}
}





.subheader{
  grid-area: "subheader";
  background-color: #fbf8f6;
  padding-top: 3%;
  
}

.subtext{
  transform: translate(40px, 20px);

}


.whatwedo{
  position: relative;

}



.desc1{
  position: absolute;
  top: 10%;
  left: 5.5%;
  max-width: 450px;
}





@media screen and (max-width: 1020px){
  .desc2{
    position: absolute;
    top: 45% !important;
    left: 56% !important;
    max-width: 340px!important;
    text-align: left;
  }

  .desc2 p{
    font-family: 'Manrope', sans-serif;
    font-size: 21px !important;
     color: #262626;
    font-weight: 500;
  }


}

@media (min-width: 1021px) and (max-width:1090px){
  .desc2{
    position: absolute;
    top: 45% !important;
    left: 56% !important;
    max-width: 370px!important;
    text-align: left;
  }

  .desc2 p{
    font-family: 'Manrope', sans-serif;
    font-size: 23px !important;
     color: #262626;
    font-weight: 500;
  }


}

@media (min-width: 1091px) and (max-width:1180px){
  .desc2{
    position: absolute;
    top: 48% !important;
    left: 56% !important;
    max-width: 400px!important;
    text-align: left;
  }

  .desc2 p{
    font-family: 'Manrope', sans-serif;
    font-size: 23px !important;
     color: #262626;
    font-weight: 500;
  }

  .desc1{
    position: absolute;
    top: 10%;
    left: 9% !important;
    max-width: 450px;
  }
}

.desc1{
  position: absolute;
  top: 10%;
  left: 10% !important;
  max-width: 450px;
}

@media (min-width: 1181px) and (max-width:1250px){
  .desc2{
    position: absolute;
    top: 44% !important;
    left: 56% !important;
    max-width: 430px!important;
    text-align: left;
  }

  .desc2 p{
    font-family: 'Manrope', sans-serif;
    font-size: 27px !important;
     color: #262626;
    font-weight: 500;
  }

}

@media (min-width: 1251px) and (max-width:1330px){
  .desc2{
    position: absolute;
    top: 44% !important;
    left: 56% !important;
    max-width: 450px!important;
    text-align: left;
  }

  .desc2 p{
    font-family: 'Manrope', sans-serif;
    font-size: 28px !important;
     color: #262626;
    font-weight: 500;
  }
}


@media (min-width: 1331px) and (max-width:1400px){
  .desc2{
    position: absolute;
    top: 45% !important;
    left: 56% !important;
    max-width: 480px!important;
    text-align: left;
  }

  .desc2 p{
    font-family: 'Manrope', sans-serif;
    font-size: 29px !important;
     color: #262626;
    font-weight: 500;
  }
}

@media screen and (min-width: 1401px) {
  .desc2{
    position: absolute;
    top: 46% !important;
    left: 55% !important;
    max-width: 500px!important;
    text-align: left;
  }

  .desc2 p{
    font-family: 'Manrope', sans-serif;
    font-size: 30px !important;
     color: #262626;
    font-weight: 500;
  }

  .desc1{
    position: absolute;
    top: 10%;
    left: 7.5% !important;
    max-width: 450px;
  }
}

@media screen and (min-width: 1600px) {
  .desc1{
    position: absolute;
    top: 10%;
    left: 6% !important;
    max-width: 450px;
  }
}


@media screen and (min-width: 1800px) {
  .desc1{
    position: absolute;
    top: 10%;
    left: 5% !important;
    max-width: 450px;
  }

  .desc2{
    position: absolute;
    top: 46% !important;
    left: 54% !important;
    max-width: 520px!important;
    text-align: left;
  }

  .desc2 p{
    font-family: 'Manrope', sans-serif;
    font-size: 30px !important;
     color: #262626;
    font-weight: 500;
  }
}


  


.color{
  background-color: #fbf8f6;
  height: 100%;
} 
.desc2{
  position: absolute;
  top:50%;
  left: 54%;
  max-width: 510px;
text-align: left;
}



.shape2{
  grid-area: "shape2";
  background-color: #F2F2F2;
}



.timeline{
  background-color: #EE3932;
  width: 100%;
  height: 100%;
}



.subh2{
  font-size: 30px;
}

.whatwecontainer{
  position: relative;
  text-align: center;
  color: #fbf8f6;
}
.whatweh1{
position: absolute;
top: 10%;
left: 5%;
}

.whatweh2{
position: absolute;
}

.whatwedesc{
  position: absolute;
  top: 30%;
  left: 50%;
  width: 300px;
}

.clearfix{
  clear: both !important;
}

.whatwepurpose{
  text-align: left;
}

.whatweimg{
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}

@media (min-width:320px) and (max-width:1100px){
  /* .purposeimg{
    padding-bottom: 5%;
  } */

  .desc1{
    position: absolute;
    top: 10%;
    left: 10% !important;
    max-width: 450px;
  }
}


/* @media screen and (max-width:1600px) {
  .thumbs.swiper-container {
    height: 600px !important;
  }

  .thumbs.swiper-container .swiper-slide-visible{
    opacity: 0.8;
    flex-shrink: 0;
    max-width: 600px !important;
    transform: scale(0.8);
    transition: 0.3s;
  }
  
} */

/* .thumbs.swiper-container {
  height: 500px;
  min-width: 500px;
  max-width: 850px;
  margin: 15px;
  padding: 10px;
} */

/* .thumbs.swiper-container .swiper-slide-visible{
  opacity: 0.8;
  flex-shrink: 0;
  min-width: 500px;
  height:100%;
  transform: scale(0.8)  translateY(30%);
  transition: 0.3s;
} */

/* start here */

/* .thumbs.swiper-container {
  height: 600px !important;
}

.thumbs.swiper-container .swiper-slide-visible{
  opacity: 0.8;
  flex-shrink: 0;
  min-width: 600px;
  transform: scale(0.8) translateY(30%);
  transition: 0.3s;
}

.mySwiper .swiper-slide-visible:hover{
  transform: scale(1.2) ;
  
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1 ;
  transform: scale(1.5);
} */

/* new one */

.thumbs .swiper-container{
height: 500px;
}
.thumbs .swiper-slide{
 width: 100%;
 height: 500px;
 opacity: 0.8;
 margin-top: 50px;
 margin-bottom: 50px;
 transform: scale(0.8) translate(15%, 15%);
 transition: 0.3s;
}

.thumbs .swiper-slide-active{
 opacity: 1; 
 transform: scale(1.3)!important;
}
.thumbs .img{
  height: 935px;
  width: 786px;
  cursor: pointer;
}


.text-danger{
  color: #EE3932;
}

.submit-success{
  background-color: #d4edda;
  color: #262626;
  border-radius: 10px;
  padding: 20px;
  margin-top: 15px;
}

@media screen and (max-width:900px) {
  .text-danger{
    color: #EE3932;
    font-size: 25px !important;
    font-weight: 500 !important;
  }

  .submit-success{
    font-size: 30px;
    margin: 30px;
  }
}

.alert-success{
  background-color: darkseagreen;
  color: #262626;
}

.quote{
  background-color: #fbf8f6;
  border-radius: 20px 50px;
  border: 3px;
  padding: 25px;
}

.navbar{
  width: 100%;
  justify-content: end;
}

.navigation{
  margin: 0 150px;
}

/* .navbar .brand{
  left: 0;
} */
 .navbar .brand:hover{
  cursor: pointer;
  
}

.navbar nav ul{
  width: 100%;

text-align: left;
/* margin-top: 25px; */
  
}
.navbar nav ul li{
  display: inline-block;
  margin:1.5vw;

}
.navbar nav ul li a{
  color: #262626;
  text-decoration: none;
}

.navbar a:hover{
  color: #EE3932;
}


.navbar .mobile-navigation{
  display: none;
}



@media (max-width: 900px){
  .navbar .navigation{
    display: none;
  }

  .navbar .mobile-navigation{
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #fff;
    
  
  }

  .navbar .mobile-navigation .hamburger{
    position: absolute;
    right: 5%;
    top: 17%;
    cursor: pointer;
    margin: 20px 0;
  }

  .navbar  nav ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 130px; 
    width: 100%;
    color: #262626;
    background-color: #fff;
    opacity: 0.9;
    margin-top: 0 !important;
  }

  .navbar nav ul li{
    padding: 3% 2%;
    font-size: 40px;
  }


}